ARCHIVES/
BINARY.INC
CGA.DMP
CODELABL.TXT
DATABASE.INI
DEFKEY.PAS
GENERALF.PAS
HELPPC.DAT
HUGEUTIL.PAS
*.TFA
LCMTEST.PAS
LZ4DECOM.PAS
OLDER/
PCJRVTST.PAS
PCXLOADT.PAS
PCX_LOAD.PAS
*~
SHOWPCX.PAS
TEST.INI
TESTARRY.PAS
TESTINI.PAS
TINTOBJT.PAS
fp___.err
fp___.out
fsupport.bak
fsupport.pas
vqtst6.pas
*.bak
*.BAK
